body{
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    font-size: large;
    color: #fff;
}
input{  
  border-radius: 5px;
  background-color: ghostwhite;
  font-size: medium;
}
#btnApostar{
    background-color: green;
}