body{
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    font-size: large;
    color: #fff;
}
input{  
  border-radius: 5px;
  background-color: rgba(137, 43, 226, 0.372);
  font-size: medium;
  color: #fff;
  color: white;
}
#btnApostar{
    background-color: green;
    color: #fff;
    color: ghostwhite;
}